@use 'variaveis';
@use 'hero';

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir\ Next\ W10\ Bold.woff);
    font-weight: 400;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir\ Next\ W10\ Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$corDeFundo;
    font-family: avenir, sans-serif ;
}

@mixin text($fonSize:16px){
    font-size:  $fonSize;
    line-height: $fonSize + 10px;
    color: variaveis.$corDoTextoPrincipal
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corDoTestoSegundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}
.link-text{
    @include text(18px);
    color: variaveis.$corDoTestoSegundario;
    text-decoration: underline;
}
.title--big{
    @include title(44px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px);
}