@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir\ Next\ W10\ Bold.woff);
    font-weight: 400;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/fonts/Avenir\ Next\ W10\ Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir, sans-serif ;
}

body{
    background-color: variaveis.$corDeFundo;
    
}

@mixin text($fonSize:16px){
    font-size:  $fonSize;
    line-height: $fonSize + 10px;
    color: variaveis.$corDoTextoPrincipal
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corDoTestoSegundario;
}

.text--big{
    @include text(18px);
}
.text{
    @include text;
}
.text--small{
    @include text(12px);
}
.link-text{
    @include text(18px);
    color: variaveis.$corDoTestoSegundario;
    text-decoration: underline;
}
.title--big{
    @include title(44px);
}
.title{
    @include title;
}
.title--small{
    @include title(28px);
}

.button{
    display: block;
    width: 80%;
    height: 45px;
    font-size: 15px;
    color: variaveis.$corDoTestoSegundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    margin-left: 47px;
}